 /*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*stripping out default css settings*/

*{
	font-family: 'Lora', serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	text-transform: none;
}

:root{
	/*colors*/
	--primary-color-200: ;
	--primary-color-400: ;
	--secondary-color-300: ;
	--secondary-color-500: ;
	--accent-color-700: ;
	
	/*fonts alterations*/
	--font-size-14px: 0.875rem;
	--font-size-16px: 1rem;
	--font-size-18px: 1.125rem;
	--font-size-30px: 1.875rem;
	--font-size-60px: 3.5rem;
}

html{
	scroll-behavior: smooth;
}

body{
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	

	height: 100vh;
	color: #fff;
}

#header{
	width: 100%;
	height: 100vh;

}

.container{
	padding: 10px 10%;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo{
	width: 11.25em;
	height: 10em
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	color: #fff;
	font-size: var(--font-size-18px);
	position: relative;
}

nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	background: #006cd9;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after,
nav ul li a:focus::after
{
	width: 100%;
}

.header-text{
	margin-top: 15%;
	padding: 1rem;
	font-size: var(--font-size-30px);
	text-align: center;
	background: rgba(0,0,0,0.65);
	border-radius: 1.3rem;
}


.header-text h1{
	font-size: var(--font-size-60px);
	margin-top: 20px;
}

.header-btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*about*/

#about{
	padding: 10rem 0;
	color: #fff;
}

.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1{
	flex-basis: 35%;
}

.about-col-1 img{
	width: 100%;
	border-radius: 15px;
}

.about-col-2{
	flex-basis: 60%;
	padding: 1rem;
	overflow: hidden;
	background: rgba(0,0,0,0.65);
	border-radius: 1.3rem;
}

.sub-title{
	font-size: var(--font-size-60px);
	font-weight: 600;
}

.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}

.tab-links{
	margin-right: 50px;
	font-size: 1.125rerm;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after{
	content: ' ';
	width: 0;
	height: 3px;
	background: pink;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after{
	width: 50%;
}

.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
}

.tab-contents ul li span{
	color: pink;
	font-size: var(--font-size-14px);
}

.tab-contents{
	display: none;
}

.tab-contents.active-tab{
	display: block;
}

/*end*/


/*port*/
#portfolio{
	padding: 50px 0;
}


.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.work img{
	width: 100%; 
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}

.layer{
	width: 100%;
	height: 0;
	background: rgba(0,0,0,.35);
	border-radius: 10px;
	position: absolute;
	left:0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	transition: height 0.5s;
}

.layer p{
	text-decoration: none;
	background-color: linear-gradient(45deg, rgba(255, 0, 0, .35), rgba(0, 0, 0,.95));
	font-size: 2rem;
	animation: gradient 1s ease-in infinite alternate;
}

@keyframes gradient{
	0%{
		color: red;
	}
	100%{
		color: white;
	}
}

.work:hover img,
.work:focus img
{
	transform: scale(1.1)
}

.work:hover .layer,
.work:focus .layer
{
	height: 100%;
}

.btn{
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid gold;
	border-radius: 6px;
	padding: 14px 50px;
	text-decoration: none;
	color: white;
	background: rgba(0,0,0,0.15);
}

.btn:hover,
.btn:focus
{
	background: hsl(176, 69%, 79%);
}


/*
# Footer
*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #111;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1e1e1e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1ed33c;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer ul {
    padding:0;
    list-style: none;
}

/*socials*/
#footer .footer-social-icons {
    width: 350px;
    display: block;

}

#footer .footer-social-icons h4{
	text-align: left;
}

#footer .social-icon {
    color: #fff;
	column-count: 2;
	text-align: center;
}

#footer ul.social-icons {
    margin-top: 10px;
}

#footer .social-icons li {
    /*vertical-align: top;*/
    display: inline;
    height: 50px;
}

#footer .social-icons a {
    color: #fff;
    text-decoration: none;
}

#footer .fa-facebook {
	width: 60px;
	height: 100%;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1e1e1e;
	border-radius: 5px;
}

#footer .fa-facebook:hover {
    background-color: #3d5b99;
	
}


#footer .fa-google {
	width: 60px;
	height: 100%;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1e1e1e;
	border-radius: 5px;
}

#footer .fa-google:hover {
    background-color: #ffffcc;
	color: #0000cd;
	
}

#footer .fa-youtube {
	width: 60px;
	height: 100%;
    padding:10px 8px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1e1e1e;
	border-radius: 5px;
}

#footer .fa-youtube:hover {
    background-color: #e53d34;

}

#footer .fa-linkedin {
	width: 60px;
	height: 100%;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1e1e1e;
	border-radius: 5px;
}

#footer .fa-linkedin:hover {
    background-color: #0073a4;

}

#footer .fa-github {
	width: 60px;
	height: 100%;
    padding:10px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1e1e1e;
	border-radius: 5px;
}

#footer .fa-github:hover {
    background-color: #5a32a3;

}

#footer .copyright{
	text-align: center;
	background: transparent;
}

#footer .copyright-text{
	font-weight: 300;
}

#footer .copyright-footer a{
	font-size: var(--font-size-16px);
	color: gold;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
}

#footer .copyright-footer a:hover,
#footer .copyright-footer a:focus
{
	color: orange;
	transition: color .2s ease-in;
}


/*fdyh*/
nav .fas{
	display: none;
}


@media only screen and (max-width: 600px){
	body{
		/*background-image: url(../images/phone-background.jpg);
		background-attachment: fixed;
		background-position: center;*/
		
	}
	
	.header-text{
		margin-bottom: 100%;
		font-size: var(--font-size-16px);
		background: rgba(0,0,0,0.75);
	}
	
	.header-text h1{
		font-size: var(--font-size-30px);
	}
	
	nav .fas{
		display: block;
		font-size: 1.5625rem;
	}
	
	nav ul{
		background: pink;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}
	
	nav ul li{
		display: block;
		margin: 25px;
	}
	
	nav ul .fas{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	
	.sub-title{
		font-size: 2.5rem;
	}
	
	#about{
		padding: .6rem 0;
	}
	
	.about-col-1, .about-col-2{
	flex-basis: 100%;
	}
	
	.about-col-1{
		margin-bottom: 30px;
	}
	
	.about-col-2{
		font-size: var(--font-size-14px);
		background: rgba(0,0,0,0.75);
	}
	
	.tab-links{
		font-size: var(--font-size-16px);
		margin-right: 20px;
	}
	
	.contact-left, .contact-right{
		flex-basis: 100%;
	}
	
	.copyright{P
		font-size: var(--font-size-14px);
	}
}

